{% extends "base.html" %}
{% block title %}Playlist created{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="row justify-content-md-center mb-4">
    <div class="col-md-8 col-12">
        <h3>Playlist created</h3>
    </div>
    <div class="col-lg-8 col-md-8 col-12 col-12">
        {% if track_count != 0 %}
            {{ track_count }} songs around {{ bpm }} BPM were found and added to your running playlist. Only your {{ max_songs }} most recent liked songs are taken into account.
        {% else %}
            Unfortunately, no tracks with a BPM of {{ bpm }} were found in your library. <a href="/">Try a different BPM</a>, or add more songs to your library.
        {% endif %}
    </div>
</div>
{% if track_count != 0 %}
<div class="row justify-content-center mt-4">
    <div class="col-lg-6 col-md-6 col-10 text-center">
        <a class="btn fs-4 px-4 py-2" href="{{ playlist_url }}" target="_blank" style="background: #54D483;">
            <i class="bi bi-spotify pe-2"></i> View your playlist
        </a>
    </div>
</div>
{% endif %}
{% endblock %}