{% extends "base.html" %}
{% block title %}Landing page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<form method="POST" action="/do">
    <div class="row justify-content-md-center mb-4">
        <div class="col-2">
            <h3>Select <abbr title="Beats Per Minute">BPM</abbr></h3>
        </div>
        <div class="col-6" id="sliderContainer">
            <input id="slider" class="w-100">
        </div>
        <div class="col-8 pt-4 text-secondary">
            120 BPM is recommended for most people. Select 160 BPM or more for sizeable efforts.
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-4 text-center">
            <button class="btn fs-4 px-4 py-2" type="submit" style="background: #54D483;">
                <i class="bi bi-spotify pe-2"></i> Log in with Spotify
            </button>
        </div>
    </div>
</form>
<script>
    const sliderContainer = document.querySelector("#sliderContainer");
    const sliderWidth = parseInt(sliderContainer.offsetWidth) - 20;

    console.log(sliderWidth);

    let slider = document.querySelector("#slider");
    slider.style.width = `${sliderWidth}px`;
    slider.setAttribute("name", "bpm");

    new Slider("#slider", {
        "ticks": [100, 120, 140, 160, 180],
        "ticks_labels": ["100", "120", "140","160", "180"],
        "min": 100,
        "max": 180,
        "step": 10,
        "tooltip": "hide",
        "value": 120
    });
</script>
{% endblock %}